/target
/runtime/*
/config/*.yaml
*.lock
*.db*
/wwwroot/*
/server/web/apache/*
/server/web/caddy/*
/server/web/nginx/*
/server/db/mysql/*
/server/db/redis/*
/server/db/mongo/*
/server/db/postgre/*
*.pid