[Unit]
Description=Rust Panel Service
After=syslog.target network.target

[Service]
WorkingDirectory=/RustPanel
ExecStart=/RustPanel/panel
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=1048576
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target